@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --text-color: #00aa00;
}

html {
  min-height: 100%;
}

body {
  font-family: "Roboto Mono", sans-serif;
  background-color: #222222;
  background-image: radial-gradient(#002b00, #222222);
  color: #ccc;
  font-size: 18px;
  line-height: 1.6;
}

.container {
  max-width: 650px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-shadow:
  0 0 15px rgba(51, 255, 51, 0.4);
}

.container2 {
  max-width: 1500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-shadow:
  0 0 15px rgba(51, 255, 51, 0.4);
}

.noise {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("assets/noise.gif");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  opacity: .02;
}

.cyn {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("assets/cyn.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  opacity: .12;
}

.overlay {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background:
      repeating-linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0,
      rgba(0, 0, 0, 0.3) 50%,
      rgba(0, 0, 0, 0) 100%);
  background-size: auto 4px;
  z-index: 1;
}

.noise, .overlay {
  pointer-events: none;
  position: absolute;
  top: 0; /* Position from the top edge of the parent container */
  left: 0; /* Position from the left edge of the parent container */
  width: 100%;
  height: 100%;
}

ul {
  list-style-type: none;
  text-align: center;
}

ul.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav {
  width: 40%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul li {
  color: var(--text-color);
  cursor: pointer;
}

h1 {
  color: var(--text-color);
  font-size: 50px;
  letter-spacing: -5px;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  color: var(--text-color);
}

h3 {
  margin-bottom: 10px;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.hidden {
  display: none;
}

.wb-body {
  background-color: #111;
  padding: 20px;
  overflow: hidden;
}

p {
  margin: 20px 0;
}

.cursor {
  font-weight: 700;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: var(--text-color);
  }
}
